@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;1,700&display=swap');

@font-face {
    font-family: "MaisonNeueBold";
    src: url('https://www.venveo.com/dist/fonts/MaisonNeueBold/font.woff') format('woff');
    src: url('https://www.venveo.com/dist/fonts/MaisonNeueBold/font.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: "MaisonNeueSemiBold";
    src: url('https://www.venveo.com/dist/fonts/MaisonNeueDemi/font.woff') format('woff');
    src: url('https://www.venveo.com/dist/fonts/MaisonNeueDemi/font.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}


@font-face {
    font-family: "MaisonNeuelight";
    src: url('https://www.venveo.com/dist/fonts/MaisonNeueLight/font.woff') format('woff');
    src: url('https://www.venveo.com/dist/fonts/MaisonNeueLight/font.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}


@font-face {
    font-family: "MaisonNeueMediam";
    src: url('https://www.venveo.com/dist/fonts/MaisonNeueMedium/font.woff') format('woff');
    src: url('https://www.venveo.com/dist/fonts/MaisonNeueMedium/font.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: "MaisonNeueMononormal";
    src: url('https://www.venveo.com/dist/fonts/MaisonNeueMonoRegular/font.woff') format('woff');
    src: url('https://www.venveo.com/dist/fonts/MaisonNeueMonoRegular/font.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: "SohneSchmalBold";
    src: url('https://www.venveo.com/dist/fonts/sohne-schmal/soehne-schmal-dreiviertelfett.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: "Sohne-Schmalextrabold";
    src: url('https://www.venveo.com/dist/fonts/sohne-schmal/sohne-schmal-fett.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

.max-w-1140 {
    max-width: 1140px;
}

.spacemononormal {
    font-family: "Space Mono", monospace;

}

.Sohne-Schmalextrabold {
    font-family: Sohne-Schmalextrabold;
}

.SohneSchmalBold {
    font-family: SohneSchmalBold;
}

.MaisonNeueMononormal {
    font-family: MaisonNeueMononormal;
}

.MaisonNeueMediam {
    font-family: MaisonNeueMediam;
}

.MaisonNeuelight {
    font-family: MaisonNeuelight;
}

.MaisonNeueSemiBold {
    font-family: MaisonNeueSemiBold;
}

.MaisonNeueBold {
    font-family: MaisonNeueBold;
}


.leading-88 {
    line-height: 88%;
}

.leading-100 {
    line-height: 100%;
}

.leading-68 {
    line-height: 148%;
}

.w-372 {
    max-width: 372px;
}

.mt-75 {
    margin-top: 75px;
}

.leading-83 {
    line-height: 83%;
}

.w-126 {
    max-width: 126px;
}

.w-323 {
    max-width: 303px;
}

.mt-55 {
    margin-top: 55px;
}

.input-name {
    background-color: transparent;
    border: none;
    outline: none;
}

.bg-white-green-1 {
    background-size: contain;
    min-height: 100vh;
    background-color: #D2F038;
}

.your-name {
    min-width: 300px;
    height: 64px;
    width: 100%;
}

.site-btn {
    padding: 31px 32px 31px 32px;
}

.w-420 {
    max-width: 420px;
}
.arrow-image {
    display: none;
}

@media (min-width:992px) {
    .your-name {
        min-width: 449px;
        height: 64px;
        width: 100%;
    }

  
    .arrow-image {
        bottom: 0;
        left: 50%;
        transform: translateX(-70%);
        display: block;
    }
}

