.sec-9-bg-img {
    background-image: url(/assets/images/Mask\ group.png);
    background-repeat: no-repeat;
    padding-top: 104px;
    padding-bottom: 84px;
    background-size: cover;
}

.sec-9-call-btn {
    width: 241px;
    height: 77px;
}

.get-started-btn:hover {
    color: black;
}

/* ============================== hover ============================= */
.line-hover::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    background-color: #D2F038;
    left: 0%;
    transform: translateX(0%);
    bottom: 4px;
    transition: all 200ms;
}

.line-hover:hover::after {
    width: 100%;
}

.line-hover {
    position: relative;
    max-width: max-content;
    cursor: pointer;
}

.after-line::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #D2F038;
    left: 0;
    bottom: 1px;
}

.after-line {
    max-width: max-content;
    position: relative;
    cursor: pointer;
}

.white-green-clr-hover:hover {
    color:#D2F038 !important;
    transition: all 300ms linear;
}

.svg-path-hover:hover {
    path {
        fill: #D2F038 !important;
        transition: all 200ms linear !important;
    }
}

.get-started-btn:hover {
    color: black !important;
    background-color: #D2F038 !important;
    width: 120px;
    padding: 16px 18px 39px 10p;
    height: 55px;
    border: none;
    border-radius: 50px;
    transition: all 300ms linear;
}

.get-started-btn {
    color: #D2F038 !important;
    background-color: transparent;
    width: 120px;
    padding: 16px 18px 39px 10p;
    height: 55px;
    border: none;
    border-radius: 50px;
}
ul li a {
    text-decoration: none !important;
    list-style-type: none !important;
    color: white !important;
}

/* ==================================================================== */

.box {
    max-width: 449px;
    height: 64px;
    border-radius: 50px;
    padding-right: 5px;
    padding-left: 26px;
}

.email {
    background-color: transparent;
    border: none;
    outline: none;
    max-width: 144px;
}

.email::placeholder {
    color: white;
    color: white;
}

/* ================================ utility classes=========================================== */
.gap-10 {
    gap: 10px;
}

.pt-104 {
    padding-top: 104px;
}

.pb-104 {
    padding-bottom: 104px;
}

.pt-90 {
    padding-top: 90px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mr-37 {
    margin-right: 37px;
}

.line-height {
    line-height: 200%;
}

