.sec-9-bg-img {
    background-image: url(/assets/images/Mask\ group.png);
    background-repeat: no-repeat;
    padding-top: 104px;
    padding-bottom: 84px;
    background-size: cover;
}

.sec-9-call-btn {
    width: 241px;
    height: 77px;
}

/* ================================ utility classes=========================================== */
.gap-10 {
    gap: 10px;
}

.pt-104 {
    padding-top: 104px;
}
.mr-37{
    margin-right: 37px;
}
.text-decoration-none{
    text-decoration: none;
  
}